.chat-container {
  @include layoutMediaQuery();
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4fr 4rem;
  min-height: 80vh;

  .side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: $gray-color;
  }

  .message-list {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    .message-person {
      padding-left: 1rem;
      margin-bottom: 1rem;

      .message-name {
        font-size: .875rem;
        font-weight: 300;
        padding-left: 1rem;
      }

      .message-text {
        background-color: #333;
        color: white;
        display: inline-block;
        padding: .75rem 1rem;
        border-radius: 20rem;
      }
    }
  

  }

  .sendMessageForm {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: $accent-color-2;
  }
}